* {
  padding: 0;
  margin: 0;
}

body {
  background: #eeebe7;
  padding: 100px 20px;
  text-align: center;
}

.preparation {
  font-size: 50px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box select {
  font-size: 70px;
  margin-right: 20px;
}

.result {
  font-size: 75px;
}

.win {
  color: red;
}

.draw {
  color: green;
}

.lose {
  color: blue;
}

button.action-button {
  font-size: 70px;
  background-color: #eeebe7;
}
